<div class="row">
  <% bookmarks.each do |bookmark| %>
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title"><%= bookmark.achievement.title %></span>
          <% bookmark.achievement.tags.each do |tag| %>
            <%= link_to "##{tag.name}", tag_path(tag), class: "chip" %>
          <% end %>
        </div>
        <% if bookmark.user == current_user && bookmark.locked? %>
          <div class="card-action">
            <a class="btn" onclick=<%= "$('#unlockModal-#{bookmark.id}').modal('open');" %>>実績を解除</a>
            <div id="unlockModal-<%= bookmark.id %>" class="modal">
              <div class="modal-content">
                <h4><%= bookmark.achievement.title %></h4>
                <div id="modal-body-<%= bookmark.id %>"></div>
              </div>
              <div class="modal-footer" id="modal-footer-<%= bookmark.id %>">
                <%= button_to '解除', user_bookmark_path(current_user, bookmark), remote: true, method: :patch, class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
