<div class="row">
  <% bookmarks.each do |bookmark| %>
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title"><%= bookmark.achievement.title %></span>
          <% bookmark.achievement.tags.each do |tag| %>
            <%= link_to "##{tag.name}", tag_path(tag), class: "chip" %>
          <% end %>
          <blockquote class="grey-text"><%= "実績解除日: #{l(bookmark.unlock_date)}" if bookmark.unlock_date %></blockquote>
        </div>
        <% if bookmark.user == current_user && bookmark.locked? %>
          <div class="card-action">
            <button class="btn modal-trigger" data-target=<%= "unlockModal-#{bookmark.id}" %>>実績を解除</button>
            <div id="unlockModal-<%= bookmark.id %>" class="modal">
              <%= form_with(model: bookmark, url: user_bookmark_path(current_user, bookmark), method: :patch) do |form| %>
                <div class="modal-content">
                  <h4><%= bookmark.achievement.title %></h4>
                  <div id="modal-body-<%= bookmark.id %>">
                    <%= form.label :unlock_date %>
                    <%= form.text_field :unlock_date, class: "datepicker", value: l(Time.zone.now.to_date) %>
                  </div>
                </div>
                <div class="modal-footer" id="modal-footer-<%= bookmark.id %>">
                    <%= form.submit '解除', class: "btn" %>
                </div>
              <% end %>
            </div>
          </div>
        <% elsif current_user && bookmark.user != current_user %>
          <div class="card-action">
            <% if bookmark.achievement.users.include?(current_user) %>
              <span class="grey-text text-darken-1">ストック済</span>
            <% else %>
              <%= link_to 'ストックする', user_bookmarks_path(current_user, params: { bookmark: { achievement_id: bookmark.achievement.id } }), method: :post %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= paginate bookmarks, remote: true, param_name: "#{status}_page" %>
