<br>
<%= image_tag current_user.image_url, class: "rounded-circle" %>
<%= current_user.nickname %>
<hr>
<div class="row">
  <% current_user.bookmarks.each do |bookmark| %>
    <div class="col-12">
      <div class="card">
        <div class="card-header"><%= bookmark.achievement.title %></div>
        <div class="card-body">
          <p><%= bookmark.status %><p>
          <%= button_to '解除取消', user_bookmark_path(current_user, bookmark), method: :patch, class: "btn btn-primary" if bookmark.unlocked? %>
          <%= button_to 'ブックマーク取り消し', user_bookmark_path(current_user, bookmark), method: :delete, class: "btn btn-danger" %>
        </div>
      </div>
      <br>
    </div>
  <% end %>
</div>
