<% if @user == current_user %>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="<%= edit_user_path(current_user) %>">
      <i class="large material-icons">settings</i>
    </a>
  </div>
<% end %>
<br>
<div class="row valign-wrapper">
  <%= image_tag @user.image_url, class: "circle responsive-img" %>
  <span class="black-text"><%= @user.nickname %></span>
</div>

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#unlocked">解除済</a></li>
      <li class="tab col s3"><a href="#locked">未解除</a></li>
    </ul>
  </div>
  <div id="unlocked" class="col s12">
    <%= render 'bookmarks', { bookmarks: @unlocked_bookmarks } %>
  </div>
  <div id="locked" class="col s12">
    <%= render 'bookmarks', { bookmarks: @locked_bookmarks } %>
  </div>
</div>
