<br>
<%= form_with(model: @achievement, local: true) do |form| %>
  <div class="row">
    <div class="col-12">
      <div class="form_group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-5">
      <div class="actions">
        <%= form.submit class: "btn btn-success" %>
        <%= link_to '戻る', achievements_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
<% end %>
