<br>
<%= form_with(model: @achievement, local: true) do |form| %>
  <div class="row">
    <div class="col-12">
      <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>
      <br>
      <%= form.label :tag_list %>
      <div class="chips">
      </div>
      <%= form.hidden_field :tag_list %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-5">
      <div class="actions">
        <%= form.submit class: "btn" %>
        <%= link_to '戻る', achievements_path, class: "btn grey" %>
      </div>
    </div>
  </div>
<% end %>
