<br>
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title blue-text"><%= @achievement.title %></span>
        <% @achievement.tags.each do |tag| %>
          <%= link_to "##{tag.name}", tag_path(tag), class: "chip" %>
        <% end %>
      </div>
      <% if current_user %>
        <div class="card-action">
          <% if @achievement.users.include?(current_user) %>
            <span class="grey-text text-darken-1">ストック済</span>
          <% else %>
            <%= link_to 'ストックする', user_bookmarks_path(current_user, params: { bookmark: { achievement_id: @achievement.id } }), method: :post %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <h4 class="header center-align">実績解除した人</h4>
    <% @users.each do |user| %>
      <div class="card">
        <div class="card-content">
          <div class="row valign-wrapper">
            <%= image_tag user.image_url, class: "circle responsive-img" %>
            <%= link_to user_path(user) do %>
              <span class="card-title valign-wrapper">
                <%= user.nickname %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% if @users.empty? %>
      <p class="center-align">まだだれもいないようです...<p>
    <% end %>
  </div>
</div>
